.page {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page-transition-push-enter,
.page-transition-push-exit,
.page-transition-pop-enter,
.page-transition-pop-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-transition-push-enter {
    transform: translateX(100%);
}

.page-transition-push-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.page-transition-push-exit {
    transform: translateX(0);
}

.page-transition-push-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}
